In [13]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os 
import networkx as nx
from copy import deepcopy
import queue
import math
import csv
from datetime import datetime
from numpy import linalg as LA
#from numpy.linalg import eig
from urllib.request import urlopen
import json
import plotly.graph_objects as go
import plotly.express as px
import seaborn as sns
import geopandas as gpd
#import earthpy as et

In [11]:
import fiona

ModuleNotFoundError: No module named 'fiona'

In [16]:
os.chdir("/Users/ransun/Dropbox/MAC_DROPBOX_CLOUD/Datasets/Chicago")

In [19]:
! pwd

/Users/ransun/Dropbox/MAC_DROPBOX_CLOUD/Datasets/Chicago

In [20]:
! ls

Boundaries - Census Tracts - 2010
Boundaries - Census Tracts - 2010.geojson
Boundaries - Census Tracts - 2010.zip
CensusBlockTIGER2010.csv
CensusTractsTIGER2010.csv
DataBackup
Git_TNC_visualization
Git_TNC_visualization_backup_07282020
IL_2011_17_taz10
IL_2011_17_taz10.zip
Population_by_2010_Census_Block.csv
README.txt
TNC_TRIP_Analysis
hwyshpc19q3200
netc19q3200

In [29]:
link = gpd.read_file('hwyshpc19q3200/emme_links.shp')
node = gpd.read_file('hwyshpc19q3200/emme_nodes.shp')

In [30]:
type(link),type(node)

(geopandas.geodataframe.GeoDataFrame, geopandas.geodataframe.GeoDataFrame)

In [31]:
node.head()

,ID,X,Y,DATA1,DATA2,DATA3,ISZONE,@ZONE,@ATYPE,@IMAREA,@NAPP,@CYCLE,geometry
0,20057,703218.99997,1.867460e+06,0.0,0.0,0.0,0,568.0,3.0,1.0,2.0,0.0,POINT (703219.000 1867459.750)
1,24029,600911.97591,1.886146e+06,0.0,0.0,0.0,0,2042.0,5.0,1.0,2.0,0.0,POINT (600911.976 1886145.790)
2,24010,475760.46866,2.031979e+06,0.0,0.0,0.0,0,2634.0,9.0,0.0,3.0,2.0,POINT (475760.469 2031979.125)
3,20835,704329.06238,1.841014e+06,0.0,0.0,0.0,0,666.0,3.0,1.0,2.0,0.0,POINT (704329.062 1841013.625)
4,19719,503860.00006,1.851820e+06,0.0,0.0,0.0,0,2293.0,5.0,1.0,4.0,1.5,POINT (503860.000 1851820.000)

In [26]:
link.head()

,ID,INODE,JNODE,LENGTH,TYPE,MODES,LANES,VDF,DATA1,DATA2,...,@AVH3V,@AVBQV,@AVLQV,@AVMQV,@AVHQV,@BUSVEQ,@VADT,@TKVEH,@VHT,geometry
0,15832-15599,15832,15599,0.88,1,ASHThmlb,1.0,1,0.0,0.0,...,94.183456,489.399963,38.599998,85.000000,73.399993,0.000000,3964.008789,105.566665,94.548873,"LINESTRING (692732.000 1775280.000, 692732.000..."
1,6077-6040,6077,6040,0.25,1,ASHThmlb,1.0,1,0.0,0.0,...,17.547203,293.600006,73.199996,171.400009,2070.600097,0.000000,2598.478515,849.099975,17.406152,"LINESTRING (452102.000 1838640.000, 452102.000..."
2,17654-17650,17654,17650,1.26,1,ASHThmlb,1.0,1,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,"LINESTRING (771558.349 1697117.176, 771558.350..."
3,7532-7313,7532,7313,1.20,1,ASHThmlb,1.0,1,0.0,0.0,...,13.255049,192.000000,1.000000,3.000000,0.200000,0.000000,1584.916870,2.566667,62.946365,"LINESTRING (513873.531 1925018.875, 513873.530..."
4,15925-15924,15925,15924,0.34,1,ASH,2.0,1,0.0,0.0,...,188.392120,0.000000,0.000000,0.000000,0.000000,788.275756,6001.920898,0.000000,113.549964,"LINESTRING (693276.000 1891550.000, 693276.000..."

In [27]:
link[link['INODE']==15832]

,ID,INODE,JNODE,LENGTH,TYPE,MODES,LANES,VDF,DATA1,DATA2,...,@AVH3V,@AVBQV,@AVLQV,@AVMQV,@AVHQV,@BUSVEQ,@VADT,@TKVEH,@VHT,geometry
0,15832-15599,15832,15599,0.88,1,ASHThmlb,1.0,1,0.0,0.0,...,94.183456,489.399963,38.599998,85.000000,73.399993,0.0,3964.008789,105.566665,94.548873,"LINESTRING (692732.000 1775280.000, 692732.000..."
2625,15832-1702,15832,1702,0.35,1,ASHThmlb,1.0,6,0.0,0.0,...,150.210754,1089.799926,128.600006,246.800018,211.600006,0.0,6538.334960,322.533355,114.420852,"LINESTRING (692732.000 1775280.000, 692732.000..."
7138,15832-15587,15832,15587,0.34,1,ASHThmlb,1.0,1,0.0,0.0,...,67.629447,399.000000,90.000000,156.599990,164.600006,0.0,3169.742431,223.166656,49.751907,"LINESTRING (692732.000 1775280.000, 692732.000..."
28278,15832-15967,15832,15967,0.63,1,ASHThmlb,1.0,1,0.0,0.0,...,99.382301,567.400024,91.599990,182.000000,155.399993,0.0,4770.902832,234.399993,86.085998,"LINESTRING (692732.000 1775280.000, 692732.000..."

In [28]:
link[link['JNODE']==15832]

,ID,INODE,JNODE,LENGTH,TYPE,MODES,LANES,VDF,DATA1,DATA2,...,@AVH3V,@AVBQV,@AVLQV,@AVMQV,@AVHQV,@BUSVEQ,@VADT,@TKVEH,@VHT,geometry
2821,15599-15832,15599,15832,0.88,1,ASHThmlb,1.0,1,0.0,0.0,...,94.732154,494.199981,42.000000,92.800003,104.599998,0.0,4094.565917,123.266662,94.138740,"LINESTRING (691011.000 1771290.000, 691011.000..."
3551,1702-15832,1702,15832,0.35,1,ASHThmlb,1.0,6,0.0,0.0,...,151.695434,1108.799926,130.600006,244.399993,216.599990,0.0,6566.338867,325.000000,114.910911,"LINESTRING (692618.958 1775181.404, 692618.960..."
21319,15587-15832,15587,15832,0.34,1,ASHThmlb,1.0,1,0.0,0.0,...,67.563652,401.000030,92.999992,156.599990,121.599990,0.0,3073.377197,211.833312,45.622753,"LINESTRING (690936.000 1775250.000, 690936.000..."
50247,15967-15832,15967,15832,0.63,1,ASHThmlb,1.0,1,0.0,0.0,...,97.414710,541.600036,83.199996,176.599990,162.200012,0.0,4708.708007,225.566665,100.235504,"LINESTRING (693724.000 1778440.000, 693724.000..."